$mainBackground: #dfe2eb;
$cardTheme: #f2f5fa;
$cardscBackground: #ffffff;
$black1: #1f1f1f;
$black2: #2f2f2f;
$grey1: #a7a9ad;
$shadow1: rgba(31, 31, 31, 0.3);
$shadow2: rgba(31, 31, 31, 0.2);
$shadow3: rgba(31, 31, 31, 0.1);
